body {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#h1-gmap {
    color: #23a123;
}

/* ------------------------------------------------------------------------------
                       Google Map css
-------------------------------------------------------------------------------*/
iframe {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
}